body {
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section {
  padding: 50px 0 80px; }

.s_caption {
  background: url("../img/capt_bg.png") repeat;
  display: block;
  font-weight: bold;
  font-size: 2em;
  line-height: 2em;
  padding: 0;
  margin: 0 0 35px 0;
  text-transform: uppercase;
  text-align: center; }
  .s_caption h2 {
    margin: 0;
    padding: 0;
    line-height: 0.7em; }

.button-more {
  font-weight: 400;
  text-transform: lowercase;
  display: inline-block;
  padding: 6px 12px;
  margin: 20px 0;
  line-height: 1em;
  font-size: 1.5em;
  transition: 0.3s all ease; }

.hero {
  position: relative; }

.main-header {
  box-shadow: 0 -5px 10px 10px #000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0; }
  .main-header header {
    padding-top: 15px; }

.brand {
  width: 100%; }

.brand-logo:hover {
  text-decoration: none; }
.brand-logo img {
  width: 65px;
  height: 65px; }

.brand-caption,
.brand-logo {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }
  .brand-caption p,
  .brand-caption h1,
  .brand-logo p,
  .brand-logo h1 {
    padding: 0;
    margin: 0; }

.name {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  padding: 0; }

.social,
.email,
.phone {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: right;
  vertical-align: middle; }

.nav-wrap {
  text-align: right; }

.nav {
  padding: 0;
  margin: 5px 0;
  display: inline-block;
  padding-bottom: 15px; }
  .nav li {
    display: inline-block;
    text-transform: uppercase;
    list-style: none; }
    .nav li a {
      padding: 5px;
      font-weight: 800; }

.nav-wrap,
.contacts {
  padding: 0;
  margin: 0; }

.phone,
.email {
  padding: 5px 10px; }
  .phone i,
  .email i {
    margin-right: 5px; }

.social {
  margin: 0 10px; }
  .social a {
    padding: 5px 5px; }
  .social i:hover {
    transform: scale(1.2, 1.2); }

.fa {
  font-size: 1.4em; }

.slash {
  vertical-align: sub; }

/*=====MOBILE MENU===== */
.nav-wrap .mob-menu {
  opacity: 1;
  visibility: visible;
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; }
  .nav-wrap .mob-menu .nav {
    transition: all 0.6s ease-in-out;
    display: block; }
    .nav-wrap .mob-menu .nav li,
    .nav-wrap .mob-menu .nav li a {
      display: block; }
    .nav-wrap .mob-menu .nav a {
      margin: 0 20px;
      padding: 12px 0;
      letter-spacing: 2px; }

/*=============SANDWICH BUTTON============= */
.toggle-menu {
  width: 60px;
  height: 60px;
  right: 5.5%;
  top: 10px;
  position: fixed;
  display: block;
  border: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9); }

.dispblock {
  display: block !important; }

.sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3; }

.sw-topper {
  position: relative;
  top: 0;
  width: 40px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 40px;
  height: 3px;
  top: 6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 40px;
  height: 3px;
  top: 12px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.slide {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.slide-row {
  display: table-row; }

.slide-cell {
  display: table-cell;
  text-align: left;
  vertical-align: middle; }

.slide-text {
  width: 50%;
  margin-left: 10%;
  display: inline-block;
  transition: all 1s ease; }
  .slide-text h1 {
    font-weight: 800;
    line-height: 1em;
    font-size: 7em;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px red, 0 0 1em black; }
  .slide-text p {
    font-size: 1.6em;
    margin: 15px 0 25px;
    text-shadow: 1px 1px 3px black, 0 0 1em black; }

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 1px 3px black, 1px 1px 0.2em red, 0 0 0.5em black; }
  .button:hover, .button:focus {
    text-decoration: none; }

.featured .featured-label {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }
.featured h3 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 8px 0; }
.featured .excerpt {
  font-size: 1.2em; }

.img-wrap {
  position: relative; }
  .img-wrap img {
    display: block;
    position: relative;
    width: 100%;
    height: auto; }
  .img-wrap .sub-cat {
    display: block;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    padding: 2.5% 3% 2.3%;
    transition: 0.3s all ease-in-out; }

.workout-list-item {
  margin: 12px 0 15px;
  border-bottom: 1px solid #eaeceb;
  padding-bottom: 15px; }
  .workout-list-item .date p:first-child {
    padding-top: 45%; }
  .workout-list-item .date p {
    font-size: 4em;
    font-weight: 800;
    line-height: 1;
    padding: 0;
    margin: 0;
    text-align: center; }
  .workout-list-item .content h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0; }
  .workout-list-item .content p {
    margin: 12px 0; }
  .workout-list-item .content .button-read {
    font-size: 1.2em; }
  .workout-list-item .sub-cat {
    opacity: 0;
    visibility: hidden; }

.list .workout-list-item:last-child {
  border-bottom: none; }

.workout-list-item:hover .sub-cat {
  opacity: 1;
  visibility: visible; }

.about-img img {
  width: 100%;
  height: auto;
  margin-top: 2em; }

.about h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: underline; }
.about p {
  font-size: 1.3em; }
.about ul {
  font-size: 1.3em; }

.s_stuff {
  padding-bottom: 40px; }

.stuff {
  text-align: center;
  text-transform: uppercase; }
  .stuff h2 {
    font-size: 2em; }

.person {
  position: relative;
  height: auto; }
  .person:hover .person-caption {
    visibility: visible;
    opacity: 1; }
  .person img {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: auto; }

.person-caption {
  transition: all 0.9s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: block;
  position: relative;
  top: -120px;
  height: 120px;
  width: 90%;
  font-size: 1.5em;
  padding-top: 12px;
  margin: 0 auto -100px; }
  .person-caption h3,
  .person-caption p {
    margin: 0;
    padding: 0;
    text-align: center; }
  .person-caption h3 {
    font-weight: 300;
    letter-spacing: 3px; }
  .person-caption p {
    font-weight: bold; }

.personal-soc {
  text-align: center; }
  .personal-soc a {
    font-size: 0.7em;
    margin: 0 5px; }

.s_subscription {
  position: relative; }

.sub_caption {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.2em; }

.subscription-item {
  position: relative;
  min-height: 400px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out; }
  .subscription-item:hover {
    transform: scale(1.1); }
  .subscription-item img {
    width: 100%;
    height: auto;
    padding: 0; }
  .subscription-item .subs-caption {
    padding: 0 15px 15px; }
    .subscription-item .subs-caption h3 {
      font-size: 1.5em; }
    .subscription-item .subs-caption ul,
    .subscription-item .subs-caption li {
      list-style: none;
      padding: 0;
      margin: 0; }
    .subscription-item .subs-caption ul li:before {
      content: "  ";
      background: url(../img/check.svg) no-repeat;
      background-size: contain;
      margin-right: 10px;
      width: 15px;
      height: 15px;
      display: inline-block; }
  .subscription-item .price {
    text-align: right; }
    .subscription-item .price p {
      font-weight: 800;
      font-size: 2em;
      padding: 0;
      margin: 0; }

.sub {
  font-size: 0.7em;
  font-weight: 600; }

.s_contacts {
  padding-bottom: 0; }
  .s_contacts h3 {
    font-size: 2em;
    text-decoration: underline;
    letter-spacing: 3px; }
  .s_contacts img {
    width: 100%;
    height: auto; }

.contact-box {
  margin-bottom: 25px; }
  .contact-box i {
    font-size: 2em; }
  .contact-box h4 {
    font-size: 1.6em;
    margin: 0;
    padding: 5px 0; }
  .contact-box p {
    margin: 0;
    padding: 0; }

.map-container {
  width: 100%; }

.map-container iframe {
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative; }

.map-container iframe.clicked {
  pointer-events: auto; }

.map {
  position: relative;
  width: 100%;
  min-height: 450px;
  margin: 0;
  padding: 0; }

.dark-bg {
  padding-left: 0; }

.get-in-toch-form label label {
  display: none; }
.get-in-toch-form input,
.get-in-toch-form textarea {
  float: left; }
.get-in-toch-form .submit {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.1em; }

input[name='name'],
input[name='email'] {
  margin: 25px 0 35px;
  width: 40%;
  margin-right: 5%; }

input[name='subject'],
textarea[name='message'] {
  width: 85%;
  margin: 25px 0 35px; }

textarea[name='message'] {
  min-height: 100px; }

.s_shop {
  background: url("../img/capt_bg.png") repeat;
  position: relative; }
  .s_shop .s_caption {
    background: none; }

.shop-item {
  position: relative;
  transition: top 1s ease;
  padding: 10px 5px 20px;
  text-align: center;
  transition: all 0.3s ease-in-out; }
  .shop-item:hover {
    transform: scale(1.1); }
  .shop-item img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: block; }
  .shop-item .price p {
    font-weight: 800;
    font-size: 2em;
    margin: 5px 0 15px; }
  .shop-item a.add-cart {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-transform: lowercase;
    padding: 7px 14px; }

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 3em; }

.next {
  right: 1%; }

.prev {
  left: 1%; }

.s_bmi {
  text-align: center; }
  .s_bmi .s_caption {
    background: none;
    text-align: left; }
  .s_bmi form {
    display: inline; }
  .s_bmi select,
  .s_bmi input,
  .s_bmi button {
    font-size: 1.3em;
    display: inline;
    padding: 15px 20px;
    margin: 0 10px; }
  .s_bmi input {
    width: 16%; }

.result {
  font-size: 6em;
  line-height: 0;
  display: inline;
  margin: 0;
  vertical-align: middle;
  font-weight: 300; }

#result {
  font-weight: 600;
  font-size: 12em;
  line-height: 0;
  display: inline;
  margin: 0 0 0 20px;
  vertical-align: middle; }

.main-footer {
  padding: 45px 0 35px;
  margin: 0; }
  .main-footer p {
    font-size: 0.9em; }
  .main-footer h3 {
    letter-spacing: 3px;
    font-size: 1.5em;
    margin-top: 0; }
  .main-footer .brand-logo img {
    width: 45px;
    height: 45px; }
  .main-footer .brand-caption {
    font-size: 1.1em; }
  .main-footer .contact-box {
    margin-bottom: 10px; }
    .main-footer .contact-box i {
      margin: 0 0 5px 7px; }
    .main-footer .contact-box h4 {
      display: none; }

.footer-menu ul,
.footer-menu li,
.footer-menu a {
  display: block; }
.footer-menu a {
  text-transform: lowercase; }

.partners img {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out; }
  .partners img:hover {
    filter: none; }

/*# sourceMappingURL=main.css.map */
